<!DOCTYPE html>
<html lang="en">


<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Login and Sign-up</title>
 <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
 <link rel="stylesheet" href="style_index.css">
</head>


<body>
  <div class="container">	
 	  <div class="row">
 		    <div class="col-md-12 text-center">
  			   <h1 class="title-super text-thin text-center"> Virtual Image Processing Lab</h1>
  		  </div>
  	</div>		
  	<div class="row">	
 		    <div class="col-md-6">
 			  <img class="image_logo" src="Data_webpage/logo_csre.jpg" alt="CSRE logo"></img>
 		</div>
 		    <div class="col-md-6">
 			    <h3 class="title-super3 text-thin text-right"> IIT Bombay </h3>
 		    </div>	
 	  </div>	

  	<div class="row">
  		  <div class="col-md-12">
  	  		<hr>
  		  </div>
  	</div>
  	<div class="row">
    	  <div class="col-md-12">
       		<br><br><br><br><br>  
    	  </div> 
  	</div>

  	<div class="row">
    	<div class="col-md-5 text-center">
       <div class="login">
     	  <form>
         <frameset>
          <legend> <h3>Registered User, Please Login</h3></legend>
          <h5>   User:   <input type="text" name="user_name"/>    </h5>
          <br><br>
          <h5>Password: <input type="Password" name="user_pass"/></h5>
          <br><br><br>
          <input type="submit" name="submit" value="Login"/>
          <br><br>
          <h6>?Forgot Password</h6>
          </frameset>
        </form>   
       </div>
    	</div>

      <div class="col-md-2"></div>

      <div class="col-md-5 text-center">
       <div class="sign-up">
        <form>
          <frameset>
           <legend> <h3>New User : Sign-up</h3></legend>
            <h5>User : <input type="text" name="user_name"/> </h5>
            <br><br>
            <h5>Enter password : <input type="Password" name="user_pass"/></h5>
            <br><br>
            <h5>Confirm password : <input type="Password" name="user_pass"/></h5>
            <br><br>
            <input type="submit" name="submit" value="Sign-up"/>
          </frameset>  
        </form>   
       </div>
      </div>
    </div>

  	<div class="row">
    	<div class="col-md-4">
       		<br><br><br><br><br>  
    	</div> 
  	</div>
</body>
</html>